body {
    margin: 0;
    padding: 0;
    background-color: #a8D0e6;
    background-repeat: repeat;
    background-attachment: fixed;
  	text-align: center;
    font-family: 'Open Sans', sans-serif;
}