html {
  --widorange: #ff7f27;
  --widhover: #f04a24;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

#element1 {
  position: fixed;
    bottom: 5%;
    left: 5%;
    background-color: var(--widorange);
    border-radius: 10px;
    padding: 0% 2%;
    color: white;
    font-size: 100%; 
    flex-direction: row;
    align-items: center;
    font-weight: bold;
  }

  @media only screen and (max-width: 700px) {
    #element1 {
      display: none;
    }

  }

  #heading {
      top: 5%;
      left: 5%;
      background-color: var(--widorange);
      color: white;
      font-size: 100%; 
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      justify-content: space-between;
    }

    #heading p {
      margin: 12px 0px;
    }

    .heading-sub {
      display: flex;
      flex-direction: row;
    }
  
  #element1:hover {
    background-color: var(--widhover);
  }

  #element1 p {
    margin: 12px 0px 12px 0px;
  }

  #star {
    font-size: 180%;
    margin: 2px 5px 8px 5px;
  }

  #element2 {
    flex-direction: column;
    max-width: 310px;
    border-radius: 10px;
    position: fixed;
    bottom: 5%;
    left: 5%;
  }

  #reviews {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 460px;
  }

  #reviews div {
    width: 100%;
    border: 1px solid #E1E1E1;
  }

  .review {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr auto auto;
  }
  
  .profile {
    border-radius: 50%;
    max-width: 40px;
    padding: 5px 5px;
    grid-area: 1/1/3/2;
  }


.name {
  grid-area: 1/2/2/3;
  margin: 2px 0px 0px 0px;
  color: #545454;
}

.company {
  grid-area: 1/3/2/4;
  max-height: 25px;
  max-width: 80px;
  justify-self: end;
  align-self: center;
  padding-right: 10px;
}

.rating {
  grid-area: 2/2/3/3;
  margin: 0;
  font-size: 26px;
}

.bluestar {
  color: #3b5998; 
}

.orangestar {
  color: #F27803; 
}

.redstar {
  color: #c41200; 
  margin-top: -5px;
}


.para {
  grid-area: 3/2/4/4;
  font-size: 12px;
  padding-right: 5px;
  color: #545454;
  margin: 0px 0px;
}

  #schedule {
    width: 100%;
    height: 60px;
    border-top: 1px solid #E1E1E1;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

#minimise {
  margin-left: 70px;
  font-size: 110%;
}

#close {
  padding: 0 7px;
  font-size: 120%;
}

#bookbutton {
  display: block;
  width: 95%;
  height: 80%;
  margin: auto;
  margin-top: 2%;
  color: white;
  background-color: var(--widorange);
  border-radius: 4px;
  text-decoration: none;
}

#bookbutton p {
  text-align: center;
  line-height: 40px;
  margin: 0px 0px;
}